@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
